{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
      <div class="card-body">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a href="#tab-general" data-toggle="tab" class="nav-link active">{{ tab_opencal }}</a></li>
          <li class="nav-item"><a href="#tab-order-status" data-toggle="tab" class="nav-link">{{ tab_opencal_settings }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active text-center" id="tab-general">
                {% if module_opencal_status and module_opencal_code %}
                    
  
 
  
  
  
  
  
                    <script>
  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: moment().format('YYYY-MM-DD'),
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectHelper: true,
      select: function(start, end) {
            $('#modalTitle').html('New Event');
            $('#eventTitle').val('');
            
            start = start.toISOString().replace(/T/g," "); //remove "T" from the string
            if(start.indexOf(':') > -1) {
                start = start.slice(0, -3); //remove seconds from the string
            }
            end = end.toISOString().replace(/T/g," ");
            if(end.indexOf(':') > -1) {
                end = end.slice(0, -3);
            }
            
            $('#eventStart').val(start);
            $('#eventEnd').val(end);
            $('#eventId').val('');
            $('#eventColour').val('#5484ed');
            $('.simplecolorpicker span').attr("class","");
            $('.simplecolorpicker span[data-color="#5484ed"]').attr("class","selected");
            $('#eventBody').val('');
            $("#fullCalRemove").hide();
            $('#fullCalModal').modal();
        
            $('#calendar').fullCalendar('unselect');
      },
        eventClick:  function(event, jsEvent, view) {
            $('#modalTitle').html(event.title);
            
            end = event.end ? event.end : event.start;
            start = event.start.toISOString().replace(/T/g," "); //remove "T" from the string
            if(start.indexOf(':') > -1) {
                start = start.slice(0, -3); //remove seconds from the string
            }
            end = end.toISOString().replace(/T/g," ");
            if(end.indexOf(':') > -1) {
                end = end.slice(0, -3);
            }
            
            $('#eventId').val(event.id);
            $('#eventTitle').val(event.title);
            $('#eventStart').val(start);
            $('#eventEnd').val(end);
            $('#eventColour option[value=\'' + (event.color ? event.color : '#5484ed') + '\']').prop('selected', true);
            $('.simplecolorpicker span').attr("class","");
            $('.simplecolorpicker span[data-color="' + (event.color ? event.color : '#5484ed') + '"]').attr("class","selected");
            $('#eventBody').val(event.description ? event.description : '');
            $("#fullCalRemove").show();
            $('#fullCalModal').modal();
        },
        //TODO: google api integration
        eventDrop: function(event, delta, revertFunc) {
          if (!confirm("Are you sure about this change?")) {
            revertFunc();
          }
        },
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      eventTextColor: '#fff',
      eventBackgroundColor: '#5484ed',
      events: [ ]
    });
    
    $( "#fullCalRemove" ).on( "click", function() {
      $.ajax({
                url: "http://c1e1abd5.ngrok.io/admin/index.php?route=extension/module/opencal/deleteevent&user_token=37320cd7f30422430d7c5f3403aeb5cb&event_id=" + $('#eventId').val(),
                type: 'GET',
                dataType: 'json', // added data type
                success: function(res) {
                        $('#calendar').fullCalendar('removeEvents', [$('#eventId').val()]);
                },
                error: function() {
                    alert('There was an error while removing event');
                }
        });
        $('#fullCalModal').modal('hide');
    });
    
    
    //TODO: id for new events (id will be from google api/ajax call)
    //google api integration
    $( "#fullCalSave" ).on( "click", function() {
        var eventData;
        var ajaxUrl;
        
        if($('#eventId').val() ) {
            ajaxUrl = "http://c1e1abd5.ngrok.io/admin/index.php?route=extension/module/opencal/updateevent&user_token=37320cd7f30422430d7c5f3403aeb5cb&title=" + $('#eventTitle').val()
                    + "&description=" + $('#eventBody').val()
                    + "&color_id=" + $('#eventColour').find('option:selected').attr('id').slice(2)
                    + "&start=" + $('#eventStart').val()
                    + "&end=" + $('#eventEnd').val()
                    + "&event_id=" + $('#eventId').val();
        }
        else {
            ajaxUrl = "http://c1e1abd5.ngrok.io/admin/index.php?route=extension/module/opencal/insertevent&user_token=37320cd7f30422430d7c5f3403aeb5cb&title=" + $('#eventTitle').val()
                    + "&description=" + $('#eventBody').val()
                    + "&color_id=" + $('#eventColour').find('option:selected').attr('id').slice(2)
                    + "&start=" + $('#eventStart').val()
                    + "&end=" + $('#eventEnd').val();
        }
        
        $.ajax({
                  url: ajaxUrl,
                  type: 'GET',
                  dataType: 'json', // added data type
                  success: function(res) {                      
                      if ($('#eventTitle').val() && $('#eventStart').val() && $('#eventEnd').val()) {
                        eventData = {
                            id:             $('#eventId').val() ? $('#eventId').val() : res.result,
                            title:          $('#eventTitle').val(),
                            start:          $('#eventStart').val(),
                            end:            $('#eventEnd').val(),
                            description:    $('#eventBody').val(),
                            color:          $('#eventColour').val()
                        }
                        $('#calendar').fullCalendar('removeEvents', [$('#eventId').val()]);
                        $('#calendar').fullCalendar('renderEvent', eventData, true); 
                  }},
                  error: function() {
                      alert('There was an error while saving event');
                  }
          });        
        
        $('#fullCalModal').modal('hide');
    });

  });
  
  function fcRefresh() {
      $.ajax({
                url: "http://c1e1abd5.ngrok.io/admin/index.php?route=extension/module/opencal/listevents&user_token=37320cd7f30422430d7c5f3403aeb5cb",
                type: 'GET',
                dataType: 'json', // added data type
                success: function(res) {
                        res.result.items.forEach(function(item) {
                            eventData = {
                                id:                    item.id,
                                title:                item.summary,
                                start:              item.start.dateTime ? item.start.dateTime : item.start.date,
                                end:                item.end.dateTime ? item.end.dateTime : item.end.date,
                                description:   item.description,
                                color:             item.colorId
                            };
                            $('#calendar').fullCalendar('removeEvents', [item.id]);
                            $('#calendar').fullCalendar('renderEvent', eventData, true); 
                        });
                }
        });
  }
  
  fcRefresh();
  setInterval(fcRefresh, 60*1000);
  </script>
  
  
  <style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

</style>



<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modalTitle" class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            </div>
            <input type="hidden" name="eventid" id="eventId"/>
            <div class="m-3 text-left">Title: <input type="text" name="eventtitle" id="eventTitle" class="w-100"/></div>
            <div class="m-3 text-left">Start: <input type="text" name="eventstart" id="eventStart" class="w-100" readonly="1"/></div>
            <div class="m-3 text-left">End: <input type="text" name="eventend" id="eventEnd" class="w-100" readonly="1"/></div>
            <div class="m-3 text-left">
                Colour:
                <select name="eventcolour" id="eventColour">
                    <option value="#5484ed" id="ec9">Bold blue</option>
                    <option value="#a4bdfc" id="ec1">Blue</option>
                    <option value="#46d6db" id="ec7">Turquoise</option>
                    <option value="#7ae7bf" id="ec2">Light green</option>
                    <option value="#51b749" id="ec10">Bold green</option>
                    <option value="#fbd75b" id="ec5">Yellow</option>
                    <option value="#ffb878" id="ec6">Orange</option>
                    <option value="#ff887c" id="ec4">Red</option>
                    <option value="#dc2127" id="ec11">Bold red</option>
                    <option value="#dbadff" id="ec3">Purple</option>
                    <option value="#e1e1e1" id="ec8">Gray</option>
                </select>
            </div>
            <div class="m-3 text-left">Description: <textarea name="eventbody" id="eventBody" class="w-100" rows="10"></textarea></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="fullCalSave">Save</button>
                <button type="button" class="btn" id="fullCalRemove">Remove</button>
            </div>
        </div>
    </div>
</div>
  
<script>
    $('#eventStart').datetimepicker({
        dateFormat: 'yy-mm-dd', 
        timeFormat: 'HH:mm',
    });
    $('#eventEnd').datetimepicker({
        dateFormat: 'yy-mm-dd', 
        timeFormat: 'HH:mm',
    });
    
    $('select[name="eventcolour"]').simplecolorpicker();
    </script>
  
  <div id="calendar"></div>
                {% else %}
                    <label>{{ text_setup }}</label>
                {% endif %}
            </div>
            <div class="tab-pane" id="tab-order-status">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module">
                  <div class="form-group row required">
                    <label class="col-sm-2 col-form-label" for="input-app">{{ entry_app }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="module_opencal_app" id="input-app" class="form-control" value="{{ module_opencal_app }}"/>
                    </div>
                  </div>
                  <div class="form-group row required">
                    <label class="col-sm-2 col-form-label" for="input-code">{{ entry_code }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="module_opencal_code" id="input-code" class="form-control" value="{{ module_opencal_code }}"/>
                      <small class="form-text text-muted">{{ help_code|raw }}</small>
                      {% if error_code %}
                        <div class="invalid-tooltip">{{ error_code }}</div>
                      {% endif %}
                    </div>
                  </div>
                    
                    
                  <div class="form-group row required">
                    <label class="col-sm-2 col-form-label" for="input-client-id">{{ entry_client_id }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="module_opencal_client_id" id="input-client-id" class="form-control" value="{{ module_opencal_client_id }}"/>
                    </div>
                  </div>
                  <div class="form-group row required">
                    <label class="col-sm-2 col-form-label" for="input-client-secret">{{ entry_client_secret }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="module_opencal_client_secret" id="input-client-secret" class="form-control" value="{{ module_opencal_client_secret }}"/>
                    </div>
                  </div>
                    
                    
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
                    <div class="col-sm-10">
                      <select name="module_opencal_status" id="input-status" class="form-control">
                        {% if module_opencal_status %}
                          <option value="1" selected="selected">{{ text_enabled }}</option>
                          <option value="0">{{ text_disabled }}</option>
                        {% else %}
                          <option value="1">{{ text_enabled }}</option>
                          <option value="0" selected="selected">{{ text_disabled }}</option>
                        {% endif %}
                      </select>
                    </div>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}